@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poiret One", serif;
}

body {
    min-height: 100vh;
    background-color: #EFB6C8;
    overflow-x: hidden;
    max-width: 100%;
}

section {
    margin: 0;
    box-sizing: border-box;
}


.sidebar {
    z-index: 999;
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    height: calc(100vh - 32px);
    background-color: #96737e;
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar-header {
    position: relative;
    display: flex;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;

}

.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    border: none;
    color: #96737e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: #fff;
    transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
    transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
    background-color: #dde4fb;
}

.sidebar-header .menu-toggler {
    display: none;
}

.sidebar-header .sidebar-toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    border-radius: 8px;
    color: #96737e;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-link {
    color: #fff;
    padding: 12px 15px;
    display: flex;
    gap: 12px;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
    transition: 0.4s ease;
    white-space: nowrap;
}

.sidebar-nav .nav-link:hover {
    background-color: #fff;
    color: #96737e;
}

.sidebar-nav .nav-link .nav-label {
    transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .nav-tooltip {
    position: absolute;
    display: none;
    top: -10px;
    left: calc(100% + 25px);
    pointer-events: none;
    opacity: 0;
    color: #96737e;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(50%);
    transition: 0.4s ease;
}

/* Responsive Sidebar */

@media (max-width: 1024px){
    .sidebar {
        z-index: 999;
        height: 56px;
        overflow-y: hidden;
        scrollbar-width: none;
        margin: 10px;
        width: calc(100% - 28px);
        max-height: calc(100vh - 28px);
    }

    .sidebar-header {
        position: sticky;
        top: 0;
        z-index: 20;
        background: #96737e;
        padding: 8px 10px;
        border-radius: 16px;
    }

    .sidebar-header .header-logo img {
       width: 40px;
       height: 40px; 
    }

    .sidebar-header .sidebar-toggler {
        display: none;
    }

    .sidebar-header .menu-toggler {
        display: flex;
        width: 30px;
        height: 30px;
    }

    .sidebar-header .menu-toggler span {
        font-size: 1.3rem;
    }

    .sidebar-nav .nav-list {
        padding: 0 10px 10px;
    }

    .sidebar-nav .nav-link {
        gap: 10px;
        padding: 10px;
        font-size: 0.94rem;
    }

    .sidebar-nav .nav-link .nav-icon {
        font-size: 1.37rem;
    }

    
}

/* Others */
#other {
    margin: 10px 0;
    padding: 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #EFB6C8;
    overflow-x: hidden;
}

.section-title {
    top: 5px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    color:rgb(230, 224, 236);
    font-size: 5rem;
}

.important-notes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: calc(100vw - 20%);
    height: 100px;
    background-color: #c28296;
    margin: 20px;
    color: white;
}

.note, .details {
    font-size: 1.5rem;
}

.storagebox {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: calc(100vw - 20%);
    height: 150px;
    background-color: #c28296;
    padding: 10px;
}

.linkstorage {
    border: pink solid 2px;
    background: none;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
}

.linkstorage a {
    text-decoration: none;
    color: white;
    font-size: 4rem;
    padding: 20px;
}

.linkstorage:hover {
    border: #462831 solid 3px;
}

.note-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    background-color: #462831;
    border-radius: 20px;
}

.note1 {
    color: white;
}

.btn {
    background-color: #462831;
    border: pink solid 2px;
}

.btn:hover {
    background-color: #2b181d;
    border: none;
}

.btn-primary.active,
.btn-primary:active {
    background-color: #462831 !important;
    border-color: #462831 !important;
}

.btn-primary:focus {
    border-color: #462831;
    box-shadow: none;
}

.card {
    background: none;
}

/* Responsive */
@media (max-width: 768px) {
    .section-title {
        font-size: 3rem;
    }

    .linkstorage a {
        font-size: 2rem;
    }

    .note, .details {
        font-size: 1.2rem;
    }

    .storagebox {
        height: 80px;
    }
}
