@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poiret One", serif;
}

body {
    min-height: 100vh;
    background-image: radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 28px 28px;
    background-color: #e2ddf7;
    overflow-x: hidden;
    max-width: 100%;
}

section {
    margin: 0;
    box-sizing: border-box;
}


.sidebar {
    z-index: 100;
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    height: calc(100vh - 32px);
    background-color: #A294F9;
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar-header {
    position: relative;
    display: flex;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;

}

.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    border: none;
    color: #A294F9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: #fff;
    transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
    transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
    background-color: #dde4fb;
}

.sidebar-header .menu-toggler {
    display: none;
}

.sidebar-header .sidebar-toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    border-radius: 8px;
    color: #A294F9;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-link {
    color: #fff;
    padding: 12px 15px;
    display: flex;
    gap: 12px;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
    transition: 0.4s ease;
    white-space: nowrap;
}

.sidebar-nav .nav-link:hover {
    background-color: #fff;
    color: #A294F9;
}

.sidebar-nav .nav-link .nav-label {
    transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .nav-tooltip {
    position: absolute;
    display: none;
    top: -10px;
    left: calc(100% + 25px);
    pointer-events: none;
    opacity: 0;
    color: #A294F9;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(50%);
    transition: 0.4s ease;
}

/* Responsive Sidebar */

@media (max-width: 1024px){
    .sidebar {
        z-index: 100;
        height: 56px;
        overflow-y: hidden;
        scrollbar-width: none;
        margin: 10px;
        width: calc(100% - 28px);
        max-height: calc(100vh - 28px);
    }

    .sidebar-header {
        position: sticky;
        top: 0;
        z-index: 20;
        background: #A294F9;
        padding: 8px 10px;
        border-radius: 16px;
    }

    .sidebar-header .header-logo img {
       width: 40px;
       height: 40px; 
    }

    .sidebar-header .sidebar-toggler {
        display: none;
    }

    .sidebar-header .menu-toggler {
        display: flex;
        width: 30px;
        height: 30px;
    }

    .sidebar-header .menu-toggler span {
        font-size: 1.3rem;
    }

    .sidebar-nav .nav-list {
        padding: 0 10px 10px;
    }

    .sidebar-nav .nav-link {
        gap: 10px;
        padding: 10px;
        font-size: 0.94rem;
    }

    .sidebar-nav .nav-link .nav-icon {
        font-size: 1.37rem;
    }

    
}

/* HomePage */

#home {
    z-index: -100;
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(#a294f9 0.5px, transparent 0.5px), radial-gradient(#a294f9 0.5px, transparent 0.5px);
    background-size: 51px 51px;
    background-position: 0 0, 25.5px 25.5px;
    background-color: #f5efff;
}

.box-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box-area li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(168, 119, 247, 0.514);
    animation: animate 20s linear infinite;
    bottom: -150px;
}

.box-area li:nth-child(1) {
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    border-radius: 100px;
}

.box-area li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.box-area li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-duration: 5.5s;
}

.box-area li:nth-child(4) {
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    border-radius: 100px;
    animation-duration: 15s;
}

.box-area li:nth-child(5) {
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.box-area li:nth-child(6) {
    left: 15%;
    width: 110px;
    height: 110px;
    border-radius: 100px;
    animation-delay: 3.5s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

#home {
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 28px 28px;
    background-color: #e2ddf7;
}

.homepage {
    margin: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.titlepage {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    color: white;
    background-color: #a194f93d;
    border-radius: 15px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #a194f93d;
    border-radius: 10px;
    padding: 10px;
}

.clickme {
    z-index: 5;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #A294F9;
    border-radius: 16px;
    outline: none;
    color: white;
    box-shadow: none;
    border: none;
}

 /* The overlay (hidden by default) */
 .overlay {
    z-index: 101;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease
  }

  /* The message box inside the overlay */
  .message-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    max-width: 300px;
    margin: 0 20px;
  }

  /* Close button for the overlay */
  .close-btn {
    background-color:#CDC1FF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }

  .bottomtext {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 10px;
    font-size: 2rem;
    color: rgb(63, 63, 63);
  }

  .bottomtext1 {
    position: absolute;
    bottom: 40px;
    padding-bottom: 10px;
    font-size: 2rem;
    color: rgb(63, 63, 63);
  }

/* Responsive Home */
@media (max-width: 768px) {
    .titlepage {
        font-size: 1.8rem;
    }

    .description {
        padding: 5px;
        font-size: 1.1rem;
        margin: 10px;
    }

    .bottomtext {
        bottom: 50px;
        font-size: 1.3rem;
    }

    .bottomtext1 {
        bottom: 80px;
        font-size: 1rem;
      }
    
}
