@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poiret One", serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#F5EFFF, #E5D9F2);
    overflow-x: hidden;
    max-width: 100%;
}

section {
    margin: 0;
    box-sizing: border-box;
}


.sidebar {
    width: 270px;
    position: fixed;
    margin: 16px;
    border-radius: 16px;
    height: calc(100vh - 32px);
    background-color: #A294F9;
    transition: 0.4s ease;
}

.sidebar.collapsed {
    width: 85px;
}

.sidebar-header {
    position: relative;
    display: flex;
    padding: 25px 20px;
    align-items: center;
    justify-content: space-between;

}

.sidebar-header .header-logo img {
    width: 46px;
    height: 46px;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.sidebar-header .toggler {
    height: 35px;
    width: 35px;
    border: none;
    color: #A294F9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
    background-color: #fff;
    transition: 0.4s ease;
}

.sidebar-header .sidebar-toggler {
    position: absolute;
    right: 20px;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler {
    transform: translate(-4px, 65px);
}

.sidebar-header .toggler:hover {
    background-color: #dde4fb;
}

.sidebar-header .menu-toggler {
    display: none;
}

.sidebar-header .sidebar-toggler span {
    font-size: 1.75rem;
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggler span {
    transform: rotate(180deg);
}

.sidebar-nav .nav-list {
    list-style: none;
    display: flex;
    gap: 4px;
    border-radius: 8px;
    color: #A294F9;
    padding: 0 15px;
    flex-direction: column;
    transform: translateY(15px);
    transition: 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .primary-nav {
    transform: translateY(65px);
}

.sidebar-nav .nav-link {
    color: #fff;
    padding: 12px 15px;
    display: flex;
    gap: 12px;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
    transition: 0.4s ease;
    white-space: nowrap;
}

.sidebar-nav .nav-link:hover {
    background-color: #fff;
    color: #A294F9;
}

.sidebar-nav .nav-link .nav-label {
    transition: opacity 0.4s ease;
}

.sidebar.collapsed .sidebar-nav .nav-link .nav-label {
    opacity: 0;
    pointer-events: none;
}

.sidebar-nav .nav-item {
    position: relative;
}

.sidebar-nav .nav-tooltip {
    position: absolute;
    display: none;
    top: -10px;
    left: calc(100% + 25px);
    pointer-events: none;
    opacity: 0;
    color: #A294F9;
    background-color: #fff;
    padding: 6px 12px;
    border-radius: 8px;
    white-space: nowrap;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0s;
}

.sidebar.collapsed .sidebar-nav .nav-tooltip {
    display: block;
}

.sidebar-nav .nav-item:hover .nav-tooltip {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(50%);
    transition: 0.4s ease;
}

/* Responsive Sidebar */

@media (max-width: 1024px){
    .sidebar {
        z-index: 999;
        height: 56px;
        overflow-y: hidden;
        scrollbar-width: none;
        margin: 10px;
        width: calc(100% - 28px);
        max-height: calc(100vh - 28px);
    }

    .sidebar-header {
        position: sticky;
        top: 0;
        z-index: 20;
        background: #A294F9;
        padding: 8px 10px;
        border-radius: 16px;
    }

    .sidebar-header .header-logo img {
       width: 40px;
       height: 40px; 
    }

    .sidebar-header .sidebar-toggler {
        display: none;
    }

    .sidebar-header .menu-toggler {
        display: flex;
        width: 30px;
        height: 30px;
    }

    .sidebar-header .menu-toggler span {
        font-size: 1.3rem;
    }

    .sidebar-nav .nav-list {
        padding: 0 10px 10px;
    }

    .sidebar-nav .nav-link {
        gap: 10px;
        padding: 10px;
        font-size: 0.94rem;
    }

    .sidebar-nav .nav-link .nav-icon {
        font-size: 1.37rem;
    }

    
}

/* HomePage */

#home {
    min-height: 100vh;
    width: 100%;
    background-image: radial-gradient(#a294f9 0.5px, transparent 0.5px), radial-gradient(#a294f9 0.5px, transparent 0.5px);
    background-size: 51px 51px;
    background-position: 0 0, 25.5px 25.5px;
    background-color: #f5efff;
}

.homepage {
    margin: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.titlepage {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    color: white;
    background-color: #a194f93d;
    border-radius: 25px;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    background-color: #a194f93d;
    border-radius: 10px;
    padding: 10px;
}

.clickme {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #A294F9;
    border-radius: 16px;
    outline: none;
    color: white;
    box-shadow: none;
    border: none;
}

 /* The overlay (hidden by default) */
 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease
  }

  /* The message box inside the overlay */
  .message-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    max-width: 300px;
    margin: 0 20px;
  }

  /* Close button for the overlay */
  .close-btn {
    background-color:#CDC1FF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
  }

  .bottomtext {
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 10px;
    font-size: 2rem;
  }

  .bottomtext1 {
    position: absolute;
    bottom: 40px;
    padding-bottom: 10px;
    font-size: 2rem;
  }

/* Responsive Home */
@media (max-width: 768px) {
    .titlepage {
        font-size: 1.8rem;
    }

    .description {
        padding: 5px;
        font-size: 1.1rem;
    }

    .bottomtext {
        bottom: 0;
        font-size: 1.3rem;
    }

    .bottomtext1 {
        bottom: 25px;
        font-size: 1rem;
      }
    
}

/* Gallery */
#gallery {
    margin: 10px 0;
    padding: 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #E5D9F2;
    overflow-x: hidden;
}

.section-title {
    top: 5px;
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 5rem;
    background-color: #dbc4f134;
}

/* Responsive Gallery */
@media (max-width: 768px) {
    .section-title {
        font-size: 1.5rem;
    }
}

/* Favorites */
#favorite {
    margin: 10px 0;
    padding: 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #CDC1FF;
    overflow-x: hidden;
}

/* Others */
#other {
    margin: 10px 0;
    padding: 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: #A294F9;
    overflow-x: hidden;
}

/* Diary */
#diary {
    margin: 10px 0;
    padding: 0;
    padding-top: 100px;
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    background-color: rgb(154, 137, 219);
    overflow-x: hidden;
}